<h1>email n°<%= @read_content.id %></h1>
<div class="mailcontainer-two">
    <br>
    <p>FROM<p>
    <h1><%= @read_content.sender %></h1>
    <br>
    <p>OBJECT</p>
    <h1><%= @read_content.object %></u></h1>
    <br>
    <p>CONTENT</p>
    <h1><%= @read_content.body.downcase %></h1>
</div>